.constructor-page {
    background: linear-gradient(135deg, #bd5728, #fae7bb);
    padding: 0 10px;
}


.constructor-layout {
    display: grid;
    grid-template-columns: minmax(640px, 3fr) minmax(320px, 1fr);
    gap: 20px;
    align-items: start;
}